@model Photography_Blog.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section id="table-form">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>იუზერის რეგისტრაცია</h1>
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Register" method="post" enctype="multipart/form-data">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label">მეილი</label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FirstName" class="control-label">სახელი</label>
                                    <input asp-for="FirstName" class="form-control" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="LastName" class="control-label">გვარი</label>
                                    <input asp-for="LastName" class="form-control" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="NickName" class="control-label">ნიკი</label>
                                    <input asp-for="NickName" class="form-control" />
                                    <span asp-validation-for="NickName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PhoneNumber" class="control-label">ტელეფონი</label>
                                    <input asp-for="PhoneNumber" class="form-control" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Address" class="control-label">მისამართი</label>
                                    <input asp-for="Address" class="form-control" />
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password" class="control-label">პაროლი</label>
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ConfirmPassword" class="control-label">გაიმეორეთ პაროლი</label>
                                    <input asp-for="ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">

                                    <label asp-for="ImageFile" class="control-label">აირჩიეთ სურათი</label>

                                    <input class="form-control" type="file" name="ImageFile" placeholder="Rounded Input" />
                                </div>
                                <br />
                                <div class="form-group">
                                    <input type="submit" value="დამატება" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                    <div>
                        <a href="javascript:history.back()">უკან დაბრუნება</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

