@model Photography_Blog.ViewModels.MainPageTextViewModel

@{
    ViewData["Title"] = "AddMainPageText";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-md-4">

        <h1>სურათის კატეგორიის დამატება</h1>

        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-11">
                        <form asp-action="AddMainPageText" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Title" class="control-label">სახელი</label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Text1" class="control-label">ტექსტ1</label>
                                <textarea id="Text1" class="form-control" name="Text1" rows="8"></textarea>
                            </div>
                            <div class="form-group">
                                <label asp-for="Text2" class="control-label">ტექსტ2</label>
                                <textarea id="Text2" class="form-control" name="Text2" rows="8"></textarea>
                            </div>
                            <div class="form-group">
                                <label asp-for="Text3" class="control-label">ტექსტ3</label>
                                <textarea id="Text3" class="form-control" name="Text3" rows="8"></textarea>
                            </div>
                            <div class="form-group">
                                <label asp-for="VideoUrl1" class="control-label">ვიდეოს ლინკი1</label>
                                <input asp-for="VideoUrl1" class="form-control" />
                                <span asp-validation-for="VideoUrl1" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="VideoUrl2" class="control-label">ვიდეოს ლინკი2</label>
                                <input asp-for="VideoUrl2" class="form-control" />
                                <span asp-validation-for="VideoUrl2" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <h6>ვიდეოს ქოვერ სურათი</h6>
                                <input type="file" name="ImageFile1" />
                            </div>
                            <div class="form-group">
                                <h6>ვიდეოს ქოვერ სურათი</h6>
                                <input type="file" name="ImageFile2" />
                            </div>
                            <div class="form-group">
                                <input type="submit" value="დამატება" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
                <div>
                    <a href="javascript:history.back()">უკან დაბრუნება</a>
                </div>
            </div>
        </div>
    </div>
</div>
